[submodule "multiple-cursors"]
	path = multiple-cursors
	url = https://github.com/emacsmirror/multiple-cursors.git
[submodule "js2-mode"]
	path = js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "jade-mode"]
	path = jade-mode
	url = https://github.com/brianc/jade-mode.git
